<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>&#x2F;datum&#x2F;component&#x2F;cyborg_hand_item - &#x2F;tg&#x2F; Station 13</title>
</head>
<body>
<header>
    <a href="index.html">&#x2F;tg&#x2F; Station 13</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
 &mdash; <a href="datum/component/cyborg_hand_item.html#var">Var Details</a></header>
<main>
<h1>cyborg_hand_item <aside>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/cyborg_hand_item.html">cyborg_hand_item</a></aside>
        
    
            <a href="https://github.com/Stickiestdrago/ARV-Hestia_Working_2/blob/ff04c96ecb46a98f8147525716e657a881af6787/modular_nova/modules_bluemoon/cyborgs/code/cyborg_hand_item.dm#L8">
        <img src="git.png" width="16" height="16" title="modular_nova&#x2F;modules_bluemoon&#x2F;cyborgs&#x2F;code&#x2F;cyborg_hand_item.dm 8"/></a></h1>

<p>Cheap component that handles extra behavior for cyborg items, like an outline, or properly resetting modules if they're dropped</p><table class="summary" cellspacing="0"><tr><td colspan="2"><h2>Vars</h2></td></tr>
            <tr><th><a href="datum/component/cyborg_hand_item.html#var/holding_robot">holding_robot</a></th><td>The cyborg that's actually holding us</td></tr></table>
    <h2 id="var">Var Details</h2><h3 id="var/holding_robot"><aside class="declaration">var </aside>holding_robot
            <aside>&ndash; /<a href="datum.html">datum</a>/<a href="datum/weakref.html">weakref</a></aside>
        
    
            <a href="https://github.com/Stickiestdrago/ARV-Hestia_Working_2/blob/ff04c96ecb46a98f8147525716e657a881af6787/modular_nova/modules_bluemoon/cyborgs/code/cyborg_hand_item.dm#L13">
        <img src="git.png" width="16" height="16" title="modular_nova&#x2F;modules_bluemoon&#x2F;cyborgs&#x2F;code&#x2F;cyborg_hand_item.dm 13"/></a></h3>
        <p>The cyborg that's actually holding us</p></main>
<footer>
    tgstation.dme
    <a href="https://github.com/Stickiestdrago/ARV-Hestia_Working_2/tree/ff04c96ecb46a98f8147525716e657a881af6787">ff04c96</a>
        (main) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/crates/dmdoc/README.md">dmdoc 1.8.0</a></footer>
</body>
</html>
